<html>
<body>
	<main>
		<div>
			<h2>
				Chat
			</h2>
			{{#mensajes}}
            	<tr>
            		<td>	
            			{{-index}}
            		</td>
            		<td>
            			{{fecha}}
            		</td>
            		<td>
            			{{cuerpo}}
            		</td>
            	</tr>
            	
				
            {{/mensajes}}
            <form action="inputmensaje/{{chatid}}">
					<input type='text' name='mensaje'/>
					<input type='submit' value='Enviar'>
			</form>
		</div>
	</main>
</body>
</html>