<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
{{#producto}}
<title>{{titulo}}</title>{{/producto}}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Market Place</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>
		<ul class="nav justify-content-end">
			<form method="post" action="/logout">
				<input type="submit" value="Sign Out"  class="btn btn-danger"/>
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</form>
		</ul>
	</nav>
	
	<div class="container">

			<br>
				{{#producto}}
				<div class="text-center">
				<h4>Categoria: {{categoria}}</h4>
					<h2>Vas a comprar {{titulo}}</h2>
					
				<br>
				<p>
					{{descripcion}}
				</p>
				
				<br>
				<br>
					<a href="/usuario/{{propietario.id}}">Propietario: {{propietario.nombreReal}}</a>
				<br>
				<br>
				<div class="container">
		<br>
		<h2>Rellena los datos de entrega</h2>
	</div>
	<div class="container">
		<form action="inputpedido" method="POST">
			<div class="form-group">
		    	<label for="exampleInputEmail1">Calle, numero y piso</label>
		    	<input type="text" name='destino' class="form-control"required>
		    	<label for="exampleInputEmail1">Código postal</label>
		    	<input type="text" name='destino' class="form-control"required>
		    	<label for="exampleInputEmail1">Localidad</label>
		    	<input type="text" name='destino' class="form-control"required>
		  	</div>
		  	
		  	<input type="hidden" name='productid' value="{{producto.id}}"/>
		  	<input class="btn btn-primary" type="submit" value="Confirmar" method="POST">
		  	<input type="hidden" name="_csrf" value="{{token}}"/>
		  	{{/producto}}
		</form>
		
	</div>
	
</body>
</html>