<html>
<body>
	<main>
		<div>
			<h2>
				Producto
			</h2>
			{{#producto}}
            <div>
            	<p>Precio: {{precio}}</p>
            	<p>Categoria: {{categoria}}</p>
            	<p>Descripcion: {{descripcion}}</p>
            	<p><a href="/usuario/{{propietario.id}}">Propietario</a></p>
            </div>
            <div>
            
			<form action="inputpedido/{{id}}" method="POST">
				<input type='text' name='origen'/>origen
				<input type='text' name='destino'/>destino
				<input type='text' name='remitente'/>tu nombre de usuario
				<input type='submit' value='Hacer pedido'>
			</form>
            {{/producto}}
            </div>
		</div>
	</main>
</body>
</html>